main h2 {
    padding: 0.8rem;
    margin: 1rem;
    color: #333a46;
    font-size: 1.6rem;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}

main li {
    list-style-type: none;
    padding: 0.8rem;
    margin: 1rem;
    color: #333a46;
    font-size: 1.2rem;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}

main li:hover {
    background-color: #6b7484;
    color: white;
    border-radius: 35px;
}
