main h2 {
    padding: 1rem;
    margin: 1rem;
    color: #333a46;
    font-size: 1.8rem;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}

main li {
    padding: 1rem;
    margin: 1rem;
    color: #333a46;
    font-size: 1.5rem;
    font-family: 'Oswald', 'Noto Sans TC', sans-serif;
}
