main {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2{
    color: white;
    font-size: 2rem;
    font-weight:normal;
    letter-spacing: 3px;
    font-family: 'Caveat', cursive;
    margin: 2rem;
}

img {
    width: 250px;
    border-radius:50%
}
