main.backImage {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main h2 {
    color: #5C533CA8;
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Square Peg', cursive;
    margin: 1rem;
}

img {
    transition: 0.5s ease;
    width: 250px;
    border-radius:50%
}

img:hover {
    transform: scale(1.1);
}
