:root {
  font-family: 'Oswald', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #9DA2B2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #ffffff;
  color: #9DA2B2;
}

html, body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #7d8595;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  border: 3px solid #7d8595
}

::-webkit-scrollbar-thumb:hover {
  background: #dadee5;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.routes-container {
  flex: 1;
  padding: 0 10vw;
  padding-top: 10vh;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* header, drawer, footer */

.header {
  width: 100vw;
  height: 4.5rem;
  background-color: #9DA2B2;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.drawer-title {
  display: flex;
  justify-content: center;
}

.drawer-option {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 8px 16px;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.2s ease;
}

.drawer-option:hover {
  background-color: #5d6675;
  text-decoration: none;
  cursor: pointer;
}

.drawer-option.active {
  background-color: #5d6675;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 8vh;
  position: relative;
  display: flex;
  justify-content: center;    
  align-items: center; 
  z-index: 10; 
}

/* common */

.title {
  font-size: 2rem;
  margin: 1rem 0;
  text-shadow: 2.5px 2.5px 0px #6b7484a3;
  display: flex;
  align-items: center;
}

.title svg {
  margin-right: 0.5rem;
  filter: drop-shadow(2.5px 2.5px 0px #6b7484a3);
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-shadow: 2.5px 2.5px 0px #6b7484a3;
}

.content {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.content svg {
  margin-right: 0.5rem;
}

.tag {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.tag:hover {
  background-color: white;
  color: #9DA2B2;
}

/* home page */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.P5-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.P5-canvas.fade-in {
  animation: fadeIn 0.25s forwards;
}

.P5-canvas.fade-out {
  animation: fadeOut 0.25s forwards;
}

.intro {
  margin-right: 2rem;
  z-index: 2;
}

.model-info {
  color: rgba(255, 255, 255, 0.7);
}

.model-info a {
  color: rgba(255, 255, 255, 0.7);
}

.model-info a:hover {
  color: white;
  text-decoration: none;
}

.home-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
  z-index: 2;
}

#homeVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.music-button {
  position: fixed;
  top: 16px;
  right: 16px;
  color: white;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  z-index: 1000;
}

/* about page */

.education-title {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.education-info {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.5rem;
}

.experiences-content li {
  margin: 1.5rem 0;
}

/* portfolio */

.portfolio-block, .portfolio-block * {
  box-sizing: border-box;
}

.portfolio-block {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
}

.portfolio-block img {
  width: 30rem;
  margin-right: 2rem;
  object-fit: contain;
}

.portfolio-links {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;  
}

/* cited*/

.cited-content li {
  margin: 1.5rem 0;
}

/* media */

@media (max-width: 1000px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .home-video {
    width: 80vw;
    height: 80vw;
    max-width: 600px;
    max-height: 600px;
    order: 0;
  }

  .portfolio-block {
    flex-direction: column;
  }

  .portfolio-block img {
    width: 100%;
    margin-right: 0;
  }
}