:root {
  font-family: 'Oswald', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #9DA2B2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.routes-container {
  flex: 1;
  padding: 0 10vw;
  padding-top: 10vh;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* drawer & footer */

.drawer-title {
  display: flex;
  justify-content: center;
}

.drawer-option {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 8px 16px;
  -webkit-tap-highlight-color: transparent;
}

.drawer-option:hover {
  background-color: #5d6675;
  text-decoration: none;
  cursor: pointer;
}

.drawer-option.active {
  background-color: #5d6675;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;    
  align-items: center;  
}

/* common */

.title {
  font-size: 2rem;
  margin: 1rem 0;
  text-shadow: 2.5px 2.5px 0px #6b7484a3;
  display: flex;
  align-items: center;
}

.title svg {
  margin-right: 0.5rem;
  filter: drop-shadow(2.5px 2.5px 0px #6b7484a3);
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-shadow: 2.5px 2.5px 0px #6b7484a3;
}

.content {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.content svg {
  margin-right: 0.5rem;
}

.tag {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-block;
}

.tag:hover {
  background-color: white;
  color: #9DA2B2;
}

/* home page */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  margin-right: 2rem;
}

.model-info {
  color: rgba(255, 255, 255, 0.7);
}

.model-info a {
  color: rgba(255, 255, 255, 0.7);
}

.model-info a:hover {
  color: white;
  text-decoration: none;
}

.home-video {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

/* about page */

.education-title {
  font-size: 1.2rem;
}

.education-info {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.experiences-content li {
  margin-bottom: 0.5rem;
}

/* portfolio */

.portfolio-block, .portfolio-block * {
  box-sizing: border-box;
}

.portfolio-block {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
}

.portfolio-block img {
  width: 30rem;
  margin-right: 2rem;
  object-fit: contain;
}

.portfolio-links {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;  
}

/* media */

@media (max-width: 1000px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .home-video {
    width: 80vw;
    height: 80vw;
    max-width: 600px;
    max-height: 600px;
    order: 0;
  }

  .portfolio-block {
    flex-direction: column;
  }

  .portfolio-block img {
    width: 100%;
    margin-right: 0;
  }
}